*{
    margin:0px;
    padding: 0px;
}
#navbar1{
    position:fixed;
    top:12px;
    width: 100%;
}
.row{
    background-color: orange;
    height:220vh;
    width:100%;
    padding: 0px 30px;
}
.navbar{
    background-color: black;
    color: aliceblue;
}
.sticky{
   
    background-color: white;
    color: black;
}