*{
    margin: 0px;
    padding:0px;
}
#social{
    float: right;
    align-items: center;
}
#foot{
    height:auto;
    background-color: black;
    color: white;
    padding:5% 0px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#insta{
    color: #d63384;
}
#facebook{
    color:#0d6efd;
}
